<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

  <display-name>StudentsDatabase</display-name>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <display-name>Access Control Web Application</display-name>
  <!-- Security Constraints -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Submission area</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/submit.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>applicant</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Application Creation area</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/myApplication.do</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>applicant</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Cancellation area</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/cancel.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>applicant</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Specialization Analytics area</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/specializationAnalytics.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>chair</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Discipline Analytics area</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/disciplineAnalytics.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>chair</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Applications area</web-resource-name>
      <!-- Define the context-relative URL(s) to be protected -->
      <url-pattern>/applications.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>chair</role-name>
    </auth-constraint>
    <user-data-constraint>
    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- Login configuration uses form-based authentication -->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Login Area</realm-name>

    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <!-- Security roles referenced by this web application -->
  <security-role>
    <role-name>applicant</role-name>
  </security-role>
  
  <security-role>
    <role-name>chair</role-name>
  </security-role>
  
  <security-role>
    <role-name>reviewer</role-name>
  </security-role>

  <welcome-file-list>
    <welcome-file>names.html</welcome-file>
  </welcome-file-list>
</web-app>
